// 商店頁籤 shopTab
.shopTab {
    display: flex;
    font-size: map-get($font, h1);
    box-sizing: border-box;
    align-items: center;

    .tabaShopTab {
        margin-right: $spacing-5;

        h1 {
            @include shopTabButton;
        }
    }

    .artSohopTab {
        margin-left: $spacing-5;

        h1 {
            @include shopTabButton;
        }
    }
}

// 會員登入頁籤 memberTab
.memberLoginTab {
    display: flex;
    font-size: map-get($font, h4); // 24px

    width: 100%;
    justify-content: center;

    .generalLoginTab,
    .artistLoginTab {

        width: 50%;
        text-align: center;
        padding: 20px;
        border: 1.5px solid $fontBlack;
        border-bottom: none;
        border-radius: $spacing-2 $spacing-2 0 0;

        &:hover {
            cursor: pointer;
        }
    }
}