<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>購物車</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <nav>
        <ul>
            <li class="logo"><a href="#"><img src="./src/assets/img/TibaArtLogo.svg" alt=""></a></li>
            <li><a href="#">線上展覽</a></li>
            <li><a href="#">贊助藝術家</a></li>
            <li><a href="#">展覽申請</a></li>
            <li><a href="#">線上商城</a></li>
            <li><a href="#">關於我們</a></li>
            <li><a href="#">會員登入</a></li>
        </ul>
    </nav>

    <header>
        <div class="pageTitle">購物車</div>
    </header>

    <div class="wrapper">
        <div id="cart" class="cartContainer">

            <!-- 左邊：購物車商品 -->
            <div class="leftPanel">
                <div class="card">
                    <div class="cartItem">
                        <img src="./src/assets/img/itemMug.jpg" alt="商品圖片">
                        <div class="cartDetails">
                            <h3 class="cardName">緯藝馬克杯</h3>
                            <p class="productDescription">質感細膩、設計簡約，適合日常飲用熱飲。嚴選材質製成，保溫耐熱，是送禮自用兩相宜的實用好物。
                            <p class="productPrice">價格：NT$500</p>
                            <div class="quantity">
                                <p class="productDescription">數量: </p>
                                <div class="selectQuan">
                                    <button type="button" class="addMinus">-</button>
                                    <input type="number" id="quantity" value="1" min="1">
                                    <button type="button" class="addMinus">+</button>
                                </div>
                            </div>
                            <p class="remove-btn">移除</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 右邊-->
            <div class="rightPanel">
                <!-- 訂購人資訊 -->
                <div class="card">
                    <h2 class="cardTitle">訂購人資訊</h2>
                    <div class="form-group">
                        <label>姓名</label>
                        <input v-model="orderInfo.name" placeholder="請輸入姓名">
                    </div>
                    <div class="form-group">
                        <label>電話</label>
                        <input v-model="orderInfo.phone" placeholder="請輸入電話">
                    </div>
                    <div class="form-group">
                        <label>地址</label>
                        <input v-model="orderInfo.address" placeholder="請輸入地址">
                    </div>
                    <div class="form-group">
                        <label>發票類型</label>
                        <input v-model="orderInfo.phone" placeholder="請選擇">
                    </div>
                    <div class="form-group">
                        <label>載具</label>
                        <input v-model="orderInfo.phone" placeholder="請輸入載具號碼">
                    </div>
                </div>

                <!-- 收件人資訊 -->
                <div class="card">
                    <h2 class="cardTitle">收件人資訊</h2>
                    <div class="form-group">
                        <label>同訂購人</label>
                        <input type="checkbox">
                    </div>
                    <div class="form-group">
                        <label>姓名</label>
                        <input v-model="receiverInfo.name" placeholder="請輸入姓名">
                    </div>
                    <div class="form-group">
                        <label>電話</label>
                        <input v-model="receiverInfo.phone" placeholder="請輸入電話">
                    </div>
                    <div class="form-group">
                        <label>地址</label>
                        <input v-model="receiverInfo.address" placeholder="請輸入地址">
                    </div>

                </div>

                <!-- 確認訂單 -->
                <div class="card">
                    <h2 class="cardTitle">確認訂單</h2>
                    <div class="order-summary">
                        <p><span>商品總額</span><span>NT${{ totalPrice }}</span></p>
                        <p><span>運費</span><span>NT$60</span></p>
                        <p><span>折扣</span><span>NT$0</span></p>
                        <hr>
                        <p><span>總計</span><span>NT${{ totalPrice + 60 }}</span></p>
                    </div>
                    <button class="btn" @click="placeOrder">確認購買</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>