@charset "UTF-8";
@import url("./src/assets/css/reset.css");
.btn {
  font-size: 1.25rem;
  border-radius: 8px;
  background-color: #29786A;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border: none;
  line-height: 48px;
  padding: 0 16px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #E4C600;
  color: #ffffff;
}

.memberBtn {
  font-size: 1rem;
  border-radius: 8px;
  background-color: #29786A;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border: none;
  line-height: 36px;
  padding: 0 16px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.memberBtn:hover {
  background-color: #E4C600;
  color: #ffffff;
}

.applicationBtn {
  border-radius: 8px;
  background-color: #2D7DA1;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin: 20px;
}
.applicationBtn .text {
  font-size: 2rem;
  line-height: 80px;
  padding: 0 16px;
}

.uploadBtn {
  border-radius: 8px;
  background-color: #2D7DA1;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin: 20px;
}
.uploadBtn .text {
  font-size: 28px;
  line-height: 80px;
  padding: 0 16px;
}

.iconStyle {
  color: #ffffff;
}

.ecpayBtn {
  border-radius: 8px;
  border: 1px solid #2F2F2F;
  display: inline-block;
  padding: 0;
  background: none;
  margin: 20px;
}
.ecpayBtn img {
  display: block;
  height: 48px;
  padding: 0 16px;
}

form {
  margin: 0 auto;
  padding: 20px;
  position: relative;
}
form .formItem {
  display: block;
  font-size: 20px;
  padding-bottom: 8px;
}
form input[type=text] {
  box-sizing: border-box;
  line-height: 48px;
  font-size: 16px;
  padding: 0 16px;
}
form .formHint {
  position: absolute;
  bottom: 0;
  left: 150px;
  font-size: 12px;
  color: #C34E4E;
}
form .formHint5 {
  color: #C34E4E;
}

.formA .form-group {
  width: 500px;
  margin-bottom: 12px;
}
.formA .form-label {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.formA .formHint5 {
  color: #C34E4E;
  margin-left: 4px;
  font-size: 1rem;
}
.formA input[type=text], .formA input[type=tel], .formA select {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #2F2F2F;
  opacity: 0.5;
  box-sizing: border-box;
}
.formA .formError {
  font-size: 12px;
  color: #C34E4E;
  margin-top: 4px;
  min-height: 16px; /* 保留空間，即使沒有錯誤時也不跳動 */
}
.formA .hidden {
  visibility: hidden;
}

.shopTab {
  display: flex;
  font-size: 3rem;
  box-sizing: border-box;
}
.shopTab .tabaShopTab {
  margin-right: 20px;
}
.shopTab .tabaShopTab h1 {
  font-size: 3rem;
  line-height: 120px;
  font-weight: bold;
  color: #2F2F2F;
  opacity: 0.5;
}
.shopTab .tabaShopTab h1:hover {
  color: #29786A;
  cursor: pointer;
  opacity: 1;
  border-bottom: 8px solid;
}
.shopTab .artSohopTab {
  margin-left: 20px;
}
.shopTab .artSohopTab h1 {
  font-size: 3rem;
  line-height: 120px;
  font-weight: bold;
  color: #2F2F2F;
  opacity: 0.5;
}
.shopTab .artSohopTab h1:hover {
  color: #29786A;
  cursor: pointer;
  opacity: 1;
  border-bottom: 8px solid;
}

.memberLoginTab {
  display: flex;
  font-size: 1.5rem;
  width: 450px;
  outline: 1px solid black;
  justify-content: space-around;
}
.memberLoginTab .normalLoginTab,
.memberLoginTab .artistLoginTab {
  padding: 25px;
}
.memberLoginTab .normalLoginTab:hover,
.memberLoginTab .artistLoginTab:hover {
  color: #29786A;
  cursor: pointer;
}

footer {
  background-color: #29786A;
}
footer .footerContact {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  line-height: 24px;
  padding: 60px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  outline: 1px solid black;
}

header {
  height: 200px;
  background-color: #29786A;
}
header .pageTitle {
  font-size: 3rem;
  font-family: "微軟正黑體";
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

nav {
  max-width: 1200px;
  height: 72px;
  margin: 0 auto;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav ul li {
  height: 72px;
}
nav ul li a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav ul li:first-child {
  margin-right: auto;
}

.aboutBanner {
  padding: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aboutBanner .aboutBannerTitle {
  max-width: 50%;
}
.aboutBanner .aboutBannerTitle h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}
.aboutBanner .aboutBannerTitle p {
  font-family: "Noto Sans TC ";
  font-size: 1rem;
}
.aboutBanner img {
  height: 400px;
}

.aboutTitle {
  font-size: 3rem;
  text-align: center;
  padding: 60px 0;
}

.aboutTxt {
  margin: 0 auto;
  max-width: 900px;
}

* {
  /* 避免圖片跑版(LOGO) */
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "微軟正黑體";
  background: linear-gradient(to top, #f6eee4, #ffffff);
  background-repeat: no-repeat;
  background-size: cover;
  /* 確保背景覆蓋整個視窗 */
  height: 100%;
}

body {
  max-width: 1440px;
  list-style: none;
  margin: 0 auto;
  /* 保證 body 撐滿畫面高度 */
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  color: rebeccapurple;
}

.colorbox {
  display: flex;
}

.primaryGreen {
  background-color: #2E5B4A;
  width: 80px;
  height: 60px;
}

.primaryGreen100 {
  background-color: #3a735d;
  width: 80px;
  height: 60px;
}

.primaryGreen200 {
  background-color: #468a71;
  width: 80px;
  height: 60px;
}

.primaryGreen300 {
  background-color: #52a284;
  width: 80px;
  height: 60px;
}

.primaryGreen400 {
  background-color: #66b295;
  width: 80px;
  height: 60px;
}

.primaryGreen500 {
  background-color: #7ebea6;
  width: 80px;
  height: 60px;
}

.primaryGreen600 {
  background-color: #96cab6;
  width: 80px;
  height: 60px;
}

.primaryGreen700 {
  background-color: #add6c6;
  width: 80px;
  height: 60px;
}

.primaryGreen800 {
  background-color: #c5e2d7;
  width: 80px;
  height: 60px;
}

.primaryGreen900 {
  background-color: #ddeee7;
  width: 80px;
  height: 60px;
}

.logoColor1 {
  background-color: #DB5C28;
  width: 80px;
  height: 60px;
}

.logoColor1100 {
  background-color: #e07347;
  width: 80px;
  height: 60px;
}

.logoColor1200 {
  background-color: #e58a65;
  width: 80px;
  height: 60px;
}

.logoColor1300 {
  background-color: #eaa284;
  width: 80px;
  height: 60px;
}

.logoColor1400 {
  background-color: #efb9a2;
  width: 80px;
  height: 60px;
}

.logoColor1500 {
  background-color: #f5d0c1;
  width: 80px;
  height: 60px;
}

.logoColor1600 {
  background-color: #fae7df;
  width: 80px;
  height: 60px;
}

.logoColor1700 {
  background-color: #fffefe;
  width: 80px;
  height: 60px;
}

.logoColor1800 {
  background-color: white;
  width: 80px;
  height: 60px;
}

.logoColor1900 {
  background-color: white;
  width: 80px;
  height: 60px;
}

.logoColor2 {
  background-color: #297868;
  width: 80px;
  height: 60px;
}

.logoColor2100 {
  background-color: #32937f;
  width: 80px;
  height: 60px;
}

.logoColor2200 {
  background-color: #3bad96;
  width: 80px;
  height: 60px;
}

.logoColor2300 {
  background-color: #4bc1a9;
  width: 80px;
  height: 60px;
}

.logoColor2400 {
  background-color: #65cab6;
  width: 80px;
  height: 60px;
}

.logoColor2500 {
  background-color: #80d4c3;
  width: 80px;
  height: 60px;
}

.logoColor2600 {
  background-color: #9bddcf;
  width: 80px;
  height: 60px;
}

.logoColor2700 {
  background-color: #b5e6dc;
  width: 80px;
  height: 60px;
}

.logoColor2800 {
  background-color: #d0efe9;
  width: 80px;
  height: 60px;
}

.logoColor2900 {
  background-color: #eaf8f5;
  width: 80px;
  height: 60px;
}

.logoColor3 {
  background-color: #176066;
  width: 80px;
  height: 60px;
}

.logoColor3100 {
  background-color: #1e7b83;
  width: 80px;
  height: 60px;
}

.logoColor3200 {
  background-color: #2497a0;
  width: 80px;
  height: 60px;
}

.logoColor3300 {
  background-color: #2bb2bd;
  width: 80px;
  height: 60px;
}

.logoColor3400 {
  background-color: #39c7d2;
  width: 80px;
  height: 60px;
}

.logoColor3500 {
  background-color: #56cfd9;
  width: 80px;
  height: 60px;
}

.logoColor3600 {
  background-color: #74d7e0;
  width: 80px;
  height: 60px;
}

.logoColor3700 {
  background-color: #91e0e6;
  width: 80px;
  height: 60px;
}

.logoColor3800 {
  background-color: #aee8ed;
  width: 80px;
  height: 60px;
}

.logoColor3900 {
  background-color: #cbf0f3;
  width: 80px;
  height: 60px;
}

.logoColor4 {
  background-color: #163F52;
  width: 80px;
  height: 60px;
}

.logoColor4100 {
  background-color: #1e556e;
  width: 80px;
  height: 60px;
}

.logoColor4200 {
  background-color: #256a8a;
  width: 80px;
  height: 60px;
}

.logoColor4300 {
  background-color: #2d80a6;
  width: 80px;
  height: 60px;
}

.logoColor4400 {
  background-color: #3496c3;
  width: 80px;
  height: 60px;
}

.logoColor4500 {
  background-color: #4ca5cf;
  width: 80px;
  height: 60px;
}

.logoColor4600 {
  background-color: #68b3d6;
  width: 80px;
  height: 60px;
}

.logoColor4700 {
  background-color: #84c1de;
  width: 80px;
  height: 60px;
}

.logoColor4800 {
  background-color: #a0d0e6;
  width: 80px;
  height: 60px;
}

.logoColor4900 {
  background-color: #bcdeed;
  width: 80px;
  height: 60px;
}

.logoColor5 {
  background-color: #402E1E;
  width: 80px;
  height: 60px;
}

.logoColor5100 {
  background-color: #583f29;
  width: 80px;
  height: 60px;
}

.logoColor5200 {
  background-color: #715135;
  width: 80px;
  height: 60px;
}

.logoColor5300 {
  background-color: #896240;
  width: 80px;
  height: 60px;
}

.logoColor5400 {
  background-color: #a1744c;
  width: 80px;
  height: 60px;
}

.logoColor5500 {
  background-color: #b3865d;
  width: 80px;
  height: 60px;
}

.logoColor5600 {
  background-color: #bf9876;
  width: 80px;
  height: 60px;
}

.logoColor5700 {
  background-color: #caaa8e;
  width: 80px;
  height: 60px;
}

.logoColor5800 {
  background-color: #d5bca6;
  width: 80px;
  height: 60px;
}

.logoColor5900 {
  background-color: #e1cfbf;
  width: 80px;
  height: 60px;
}

.logoColor6 {
  background-color: #EAA424;
  width: 80px;
  height: 60px;
}

.logoColor6100 {
  background-color: #edb245;
  width: 80px;
  height: 60px;
}

.logoColor6200 {
  background-color: #f0bf65;
  width: 80px;
  height: 60px;
}

.logoColor6300 {
  background-color: #f3cd86;
  width: 80px;
  height: 60px;
}

.logoColor6400 {
  background-color: #f6daa6;
  width: 80px;
  height: 60px;
}

.logoColor6500 {
  background-color: #fae8c7;
  width: 80px;
  height: 60px;
}

.logoColor6600 {
  background-color: #fdf5e7;
  width: 80px;
  height: 60px;
}

.logoColor6700 {
  background-color: white;
  width: 80px;
  height: 60px;
}

.logoColor6800 {
  background-color: white;
  width: 80px;
  height: 60px;
}

.logoColor6900 {
  background-color: white;
  width: 80px;
  height: 60px;
}/*# sourceMappingURL=style.css.map */