<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /tjd101/g2
    RewriteRule ^tjd101/g2/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /tjd101/g2/index.html [L]
</IfModule>