.aboutBanner{
    padding: 60px;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .aboutBannerTitle{
        max-width: 50%;

        h1{
            font-size: map-get($font, h1);
            margin-bottom: 30px;
        }
        p{
            font-family: $fontEG;
            font-size: map-get($font, p);
        }
    }
    img{
        height: 400px;
    }
}
.aboutTitle{
    font-size: map-get($font, h1);
    text-align: center;
    padding: 60px 0;
}
.aboutTxt{
    margin: 0 auto;
    max-width: 900px;
}