.cartContainer {
    display: flex;
    max-width: 1200px;
    margin: 80px 40px;
    gap: 40px;
}

.leftPanel {
    flex: 2;
}

.rightPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    border: 1px solid $primaryGreen;
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.cartItem {
    display: flex;
    align-items: center;

    position: relative;
}

.cartItem img {
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 20px;
}

.cartDetails {
    display: flex;
    flex-direction: column;
    line-height: 1.6;

    .cardName {
        font-size: map-get($font, h5);
        font-weight: bold;
        margin-bottom: 16px;
    }

    .productDescription {
        font-size: map-get($font, p);
    }

    .productPrice {
        font-size: map-get($font, h5);
        font-weight: normal;
        color: $fontWarn;
    }

    .quantity {
        margin-bottom: 0px;
    }
}

.removeBtn {
    background-color: $primaryGreen;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: map-get($font, h2);
    cursor: pointer;

    position: absolute;
    top: 0px;
    right: 0px;

    p {
        position: relative;
        top: -3px;
    }
}

.removeBtn:hover {
    background-color: $buttonYellow;
    color: $fontBlack;
}

.cartContainer .continueShopping {
    text-align: end;
}

// 右側欄
.card2 {
    border: 1px solid $primaryGreen;
    background: #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cardTitle {
    background-color: $primaryGreen;
    border-radius: 6px 6px 0 0;
    font-size: map-get($font, h5);
    font-weight: 400;
    color: $fontWhite;
    height: 50px;
    line-height: 50px;
    padding: 0 0 0 20px;
}

.form {
    padding: 20px 20px 10px 20px;

    .formGroup {
        margin-bottom: 20px;
    }

    label {
        font-size: map-get($font, p);
        letter-spacing: 1px;
    }

    input,
    .invoiceType {
        width: 100%;
        font-size: 16px;
        height: 36px;
        border-radius: 8px;
        border: 1px solid $primaryGreen;
        color: $primaryGreen;
        padding: 8px 12px;
        margin-top: 10px;
        transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    input:focus,
    .invoiceType:focus {
        border-color: $primaryGreen;
        box-shadow: 0 4px 15px rgba($primaryGreen, 0.3);
        outline: none;
    }

    .checkbox {
        width: auto;
        padding: 0;
        margin: 0;
        accent-color: $primaryGreen;
        
        position: relative;
        top: -9px;
        left: 0;
    }

    .checkbox:focus {
        box-shadow: 0 4px 15px rgba($primaryGreen, 0);
    }

    .formGroup:has(.checkbox) label {
        padding-right: 10px;
    }

    .formGroup:has(.checkbox) { 
        display: flex;
        margin-bottom: 4px;
    }
}

.form2 {
    padding: 20px 20px 0 20px;
    text-align: center;
}

.orderSummary p {
    font-size: map-get($font, p);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.orderSummary .total {
    font-size: map-get($font, h4);
    padding: 10px 0;
}

.btn a {
    display: block;
    color: $fontWhite;
    cursor: pointer;
    text-decoration: none;
}

.btn a:hover {
    color: $fontBlack;
    display: flex;
}

.ecpay {
    display: block;
    margin: 20px auto 30px; 
}

@media (max-width: 992px) {
    .leftPanel {
        flex: 1.5;
    }
}

@media (max-width: 920px) {
    .cartContainer {
        flex-direction: column;
        margin: 80px 40px;
    }
}

@media (max-width: 640px) {
    .cartContainer {
        margin: 40px 20px;
    }
    .card {
        padding:16px;
    }
    .cartItem {
        img {
            height: 110px;
            width: 110px;
            object-fit: cover;
        }
        .cartDetails {
            margin-top: 5px;
            gap:10px;
        }
        .cardName, .productPrice, .productDescription{
            font-size: map-get($font, p);
            margin-bottom: 2px;
        }
        .selectQuan {
            width: 86px;
            height:24px;
            .addMinus, #quantity, .addMinus {
                height:24px;
                position:relative;
                top: -6px;
                right: 0;
            }
            #quantity {
                background-color: transparent;
                width:24px;
            }
            .addMinus, .addMinus {
                width:8px;
            }
        }
    }
    .removeBtn {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: map-get($font, h2);
        cursor: pointer;

        position: absolute;
        top: 2px;
        right: 1px;

        p {
            position: relative;
            top: -3px;
        }
    }

}

@media (max-width: 472px) {
    .cartContainer {
        margin: 32px 20px;
    }

    .card {
        padding:12px;
    }

    .cartItem {
        img {
            height: 90px;
            width: 90px;
        }
    }
    .removeBtn {
        width: 24px;
        height: 24px;

        top: 6px;
        right: 6px;
    }
}