.cartContainer {
    display: flex;
    max-width: 1200px;
    margin: 80px 40px;
    gap: 40px;
}

.leftPanel {
    flex: 2;
}

.rightPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    border: 1px solid $primaryGreen;
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cartItem {
    display: flex;
    align-items: center;

    position: relative;
}

.cartItem img {
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 20px;
}

.cartDetails {
    display: flex;
    flex-direction: column;
    line-height: 1.6;

    .cardName {
        font-size: map-get($font, h5);
        font-weight: bold;
        margin-bottom: 16px;
    }

    .productDescription{
        font-size: map-get($font, p);
        
    }

     .productPrice{
        font-size: map-get($font, h5);
        font-weight: normal;

        color: $fontWarn;
     }

     .quantity{
        margin-bottom: 0px;
     }
}

.removeBtn {
    background-color: $primaryGreen;
    color: white;
    border: none;
    border-radius: 50%; 
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: map-get($font, h2);
    cursor: pointer;

    position: absolute;
    top: 0px;
    right: 0px;

    p {
        position: relative; 
        top: -3px; 
    }
}

.removeBtn:hover {
    background-color: $buttonYellow;
    color: $fontBlack;
}

// 右側欄
.card2 {
    border: 1px solid $primaryGreen;
    background: #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cardTitle {
    background-color: $primaryGreen;
    border-radius: 6px 6px 0 0;
    font-size: map-get($font, h5);
    font-weight: 400;
    color: $fontWhite;
    height: 50px;
    line-height: 50px;
    padding:  0 0 0 20px;
}

.form{
    padding:20px 20px 0 20px; 
    
    .formGroup{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    
    label {
        flex: 1; 
        font-size:map-get($font, p);
        color: $primaryGreen;
        text-align: justify;
        text-align-last: justify;
        padding-right: 10px; 
    }
    
    input, .invoiceType {
        flex: 2; 
        font-size:map-get($font, p);
        border-radius: 8px;
        border:1px solid $primaryGreen;
        color: $primaryGreen;
        padding: 8px 12px;
        transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
    
    input:focus, .invoiceType:focus {
        border-color: $primaryGreen;
        box-shadow: 0 4px 15px rgba($primaryGreen, 0.3);
        outline: none;
    }

    .checkbox:focus {
        box-shadow: 0 4px 15px rgba($primaryGreen, 0);
    }
}

.form2 {
    padding:20px 20px 0 20px; 
    text-align: center;
}

.orderSummary p {
    font-size:map-get($font, p);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.orderSummary .total {
    font-size: map-get($font, h4);
    padding: 10px 0;
}

.btn a {
    display:block;
    color: $fontWhite;
    cursor: pointer;
    text-decoration: none;
}

.btn a:hover {
    color: $fontBlack;
    display: flex;
}

.ecpay {
    display:block;
    margin: 20px auto; // 水平置中
}

@media screen and (max-width: 992px) {
    .leftPanel {
        flex: 1.5;
    }
}


@media screen and (max-width: 920px) {
    .cartContainer{
        flex-direction: column;
    }

    .form label {
        flex: 0.5; 
        padding-right: 20px; 
    }
}

@media screen and (max-width: 640px) {
    .cartItem {
        flex-direction: column;
        align-items: flex-start;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .cartDetails{
            margin-top: 20px;
        }

    }



}

@media screen and (max-width: 530px) {
    .form label {
        flex: .8; 
        padding-right: 10px; 
    }
}
@media screen and (max-width: 422px) {
        .formGroup {
            flex-direction: column;
            align-items: flex-start;
            justify-content:flex-start;
    }
}
