.expoAreaPage {


    .main {

        max-width: 1200px;
        margin: 0 auto;
        padding: $spacing-8 $spacing-4;
        text-align: center;
        color: $fontBlack;

        img {
            width: 100%;
            height: auto;
            border-radius: $spacing-1;
            margin-bottom: $spacing-8;
        }

        .artwork-title {
            display: flex;
            justify-content: start;
            align-items: baseline;
        }

        h2 {
            font-size: map-get($font, h2);
            margin-bottom: $spacing-2;
        }

        h5 {
            font-size: map-get($font, h5);
            color: #666;
            margin-bottom: $spacing-4;
        }

        p {
            margin: $spacing-1 0;
            font-size: map-get($font, p);
            text-align: start;
            line-height: 1.6;

            &:nth-of-type(3) {
                margin-top: $spacing-4;
                font-weight: bold;
            }
        }

        .btn {
            display: inline-block;
            align-self: center;
            border: none;
            border-radius: $spacing-1;
            font-size: map-get($font, p);
            cursor: pointer;
        }

        .btn:hover {
            background-color: $buttonYellow;
            color: $fontBlack;
        }

    }





}