.expo {

    .parent {
        margin-top: $spacing-8;
        margin-bottom: $spacing-8;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-column-gap: $spacing-3;
        grid-row-gap: $spacing-3;

        min-height: 100vh;
        position: relative;



        .grid {
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: 300px;

            opacity: 1;
            /* 初始隱藏，GSAP 會從 0 漸變到 1 */
            transform: translateY(50px);
            /* 跟 JS 一致，設定初始位移 */

        }

        .grid img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            transition: 0.5s;
        }

        .grid img:hover {
            opacity: 0.5;
        }

        .div1 {
            grid-area: 1 / 1 / 3 / 3;

            img {
                max-width: 100%;
            }

        }

        .div2 {
            grid-area: 1 / 3 / 3 / 6;

            img {
                max-width: 100%;
            }
        }

        .div3 {
            grid-area: 1 / 6 / 3 / 8;

            img {
                max-width: 100%;
            }
        }

        .div4 {
            grid-area: 1 / 8 / 3 / 11;

            img {
                max-width: 100%;
            }
        }

        .div5 {
            grid-area: 3 / 1 / 5 / 4;

            img {
                max-width: 100%;
            }
        }

        .div6 {
            grid-area: 3 / 4 / 5 / 6;

            img {
                max-width: 100%;
            }
        }

        .div7 {
            grid-area: 3 / 6 / 5 / 9;

            img {
                max-width: 100%;
            }
        }

        .div8 {
            grid-area: 3 / 9 / 5 / 11;

            img {
                max-width: 100%;
            }
        }

        .div9 {
            grid-area: 5 / 1 / 7 / 3;

            img {
                max-width: 100%;
            }
        }

        .div10 {
            grid-area: 5 / 3 / 7 / 5;

            img {
                max-width: 100%;
            }
        }

        .div11 {
            grid-area: 5 / 5 / 7 / 8;

            img {
                max-width: 100%;
            }
        }

        .div12 {
            grid-area: 5 / 8 / 7 / 11;

            img {
                max-width: 100%;
            }
        }

        .div13 {
            grid-area: 7 / 1 / 9 / 5;

            img {
                max-width: 100%;
            }
        }

        .div14 {
            grid-area: 7 / 5 / 9 / 7;

            img {
                max-width: 100%;
            }
        }

        .div15 {
            grid-area: 7 / 7 / 9 / 11;

            img {
                max-width: 100%;
            }
        }

        .div16 {
            grid-area: 9 / 1 / 11 / 4;

            img {
                max-width: 100%;
            }
        }

        .div17 {
            grid-area: 9 / 4 / 11 / 6;

            img {
                max-width: 100%;
            }
        }

        .div18 {
            grid-area: 9 / 6 / 11 / 9;

            img {
                max-width: 100%;
            }
        }

        .div19 {
            grid-area: 9 / 9 / 11 / 11;

            img {
                max-width: 100%;
            }
        }
    }

    /* Tooltip 基本樣式 */
    .tooltip {
        position: fixed;
        /* 固定定位在視窗 */
        pointer-events: none;
        /* 讓滑鼠事件不會被 tooltip 擋住 */
        white-space: nowrap;
        background: rgba(0, 0, 0, 0.75);
        color: #fff;
        font-size: map-get($font, h5);
        /* 或你要的字級 */
        padding: $spacing-3 $spacing-8;
        border-radius: 4px;
        opacity: 1;
        /* 一開始隱藏 */
        transform: scale(0.8);
        /* 只縮放，不做任何平移 */
        transform-origin: top left;
        /* 相對左上角縮放 */
        z-index: 9999;
        transition: none;
        /* 動畫交給 GSAP 完全控制 */
        display: none;

    }



    @media (max-width: 360px) {
        .parent {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .parent .grid {
            width: 100%;
            height: 300px;
            overflow: hidden;
        }

        .parent img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .parent .grid.left,
        .parent .grid.right {
            width: 100%;
        }
    }


    @media (max-width: 390px) {
        .parent {
            margin: $spacing-8 6px;

            display: flex;
            flex-wrap: wrap;
            gap: 4px;
            justify-content: start;

        }

        .grid {
            width: calc(50% - 2px);
            height: 10rem;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
    }

    @media (max-width: 430px) {
        .parent {
            margin: $spacing-8 6px;
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
            justify-content: start;
        }

        .grid {
            height: 10rem;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        // 左邊那張圖占 60%
        .grid.left {
            width: calc(60% - 2px);
        }

        // 右邊那張圖占 40%
        .grid.right {
            width: calc(40% - 2px);
        }
    }

    @media (min-width: 744px) and (max-width: 834px) {
        .parent {
            overflow: hidden;

            .grid img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


}