.subTitle h1{
    color: $primaryGreen;
    font-size: map-get($font, h2);
    font-weight: bold;
    // border-bottom: 4px solid $primaryGreen;
    line-height: 48px;
}

.productContainer {
    display: flex;
    margin: 0 auto;
    padding: 0 20px 20px;
}

.productImg {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
    display: block;
    text-decoration: none;
}

.productImg img {
    // display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    line-height: 2;
    align-self: center;
}

.productName {
    font-size: map-get($font, h4);
    font-weight: bold;
    margin-bottom: 10px;
    color: $fontBlack;
}

.productDescription {
    margin-bottom: map-get($font, p);
    color: #555;
}

.productPrice {
    font-size: map-get($font, h5);
    font-weight: bold;
    color: $fontWarn;
    margin-bottom: 20px;
}

.quantity {
    // 取消input內的上下箭頭
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.quantity p {
    margin: 0 20px 0 0;
}

.selectQuan{
    width: fit-content;
    border: 1px solid $primaryGreen;
    border-radius: 4px;
    background-color: white;
}

.addMinus {
    padding: 8px 12px;
    font-size: map-get($font, p);
    color: $primaryGreen;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.quantity input {
    width: 40px;
    text-align: center;
    padding: 8px;
    border: none;
    font-size: 16px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.continueShopping a {
    display: block;
    color: $primaryGreen;
    font-size: map-get($font, p);
    cursor: pointer;
    text-decoration: none;
}

.continueShopping a:hover {
    color: $buttonYellow;
}
.recommend{
    margin: 20px auto;
}

.recoTitle{
    font-size: map-get($font, h3);
    font-weight: bold;
    color: $primaryGreen;
    display: block;
    margin: 100px auto 40px;
    text-align: center;
}

@media (max-width: 820px) {
    .productImg {
        flex: 1.6; 
    }
}

@media (max-width: 760px) {
    .subTitle h1{
        font-size: map-get($font, h3); 
        line-height: 36px;
    }
}

@media (max-width: 662px) {
    .subTitle{
        margin: 0 auto;
    }
    .productContainer {
        flex-direction: column;
    }

    .productImg {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .productInfo {
        flex: 1;
        display: flex;
        flex-direction: column;
        line-height: 2;
        align-self: auto;
    }

    .recoTitle{
        margin: 60px auto 40px;
    }
}
