.productContainer {
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}

.productImg {
    flex: 1;
    margin-right: 40px;
}

.productImg img {
    width: 100%;
    display: block;
}

.productInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.productName {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: $fontBlack;
}

.productDescription {
    margin-bottom: 15px;
    color: #555;
}

.productPrice {
    font-size: map-get($font, h5);
    font-weight: bold;
    color: $fontWarn;
    margin-bottom: 20px;
}

.quantity {
    // 取消input內的上下箭頭
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    display: flex;
    align-items: center;
    margin-bottom: 20px;
}



.quantity p {
    margin: 0 20px 0 0;
}

.selectQuan{
    width: fit-content;
    border: 1px solid $primaryGreen;
    border-radius: 4px;
    background-color: white;
}

.addMinus {
    padding: 8px 12px;
    font-size: map-get($font, p);
    color: $primaryGreen;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.quantity input {
    width: 40px;
    text-align: center;
    padding: 8px;
    border: none;
    font-size: 16px;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.continueShopping {
    color: $primaryGreen;
    padding: 10px 0;
    font-size: map-get($font, p);
    cursor: pointer;
    text-decoration: none;

}

.continueShopping:hover {
    color: $buttonYellow;
}
.recommend{
    margin: 20px auto;
}

.recoTitle{
    font-size: map-get($font, h2);
    font-weight: bold;
    color: $primaryGreen;
    display: block;
    margin: 100px auto 40px;
    text-align: center;
}



@media (max-width: 600px) {
    .productContainer {
        flex-direction: column;
    }

    .productImg {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .actions {
        flex-direction: column;
    }
}