// 主色 olor
$primaryGreen :  #29786A;

// 網頁文字顏色
$fontBlack: #2F2F2F;

// 白色
$fontWhite:#ffffff;

// 按鈕碰觸
$buttonYellow: #E4C600;

// 申請按鈕 (上傳下載)
$fontdownload: #2D7DA1;

// 警示
$fontWarn: #C34E4E;

// logo color
$logoColor1 : #DB5C28;
$logoColor2 : #297868;
$logoColor3 : #176066;
$logoColor4 : #163F52;
$logoColor5 : #402E1E;
$logoColor6 : #EAA424;
