.frontNav {
    width: 100%;
    padding: 0 9vw;
    height: 72px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-image: linear-gradient(to bottom, #f6eee4, #f9f6f3, #ffffff);

    @media (max-width: 1200px) {
         padding: 0 4vw;
    }

    .logo {
        height: 60px;
    }

    .navBar {
        display: flex;
        margin-left: auto;

        @media (max-width: 1200px) {
        display: none;
    }

    }

    ul {
        // width: 100%;
        // list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $spacing-4;

        li {
            margin-right: $spacing-8;

            @media (max-width: 1200px) {
                 margin-right: 0;
            }

            a {
                line-height: 24px;
                font-size: 16px;
                text-decoration: none;
                color: #000000;
                height: 24px;

                position: relative;
                display: inline-block;
                padding-bottom: 3px;

                // border: 1px solid #000;

                @media (max-width: 1200px) {
                  height: auto;
                  line-height: 0;
                }

                &::after {
                  content: '';
                  position: absolute;
                  left: 0;
                  bottom: -4px;
                  width: 0;
                  height: 1px;
                  background-color: #000000;
                  transition: width 0.5s ease-in-out;

                  @media (max-width: 1200px) {
                    left: -50vw;
                  }

                }

                &:hover:after {
                    width: 100%;

                  @media (max-width: 1200px) {
                    background-color: #176066;
                    width: 150vw;
                }

                }


            }
        }
    }

    .memberAction {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $spacing-3;
        // border: 1px solid black;
    }

    .cartIcon {
        position: relative;
        color: $fontBlack;
        font-size: map-get($font, h5);
        margin-left: $spacing-6;

        &:hover {
            color: $buttonYellow;
        }

        .cartCount {
            position: absolute;
            top: 8px;
            right: -8px;
            background-color: $primaryGreen;
            color: white;
            font-size: 12px;
            border-radius: 50%;
            padding: 3px 5px;

            &:first-child {
                margin-right: auto;
            }

        }
    }
}

.menuToggle{
    display: none;
    width: auto;
    margin-left: auto;
}

@media (max-width: 1200px) {
    .menuToggle {
        display: block;
    }
}

.bar {
    width: 26px;
    height: 2.5px;
    background-color: #000;
    margin: 6px 12px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.menuToggle.active .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.menuToggle.active .bar2 {
  opacity: 0;
}

.menuToggle.active .bar3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

.dropdown {
    display: none;
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    height: calc(100vh - 72px);
    overflow: auto;
    background-image: linear-gradient(to top, #f6eee4, #ffffff);;
    margin: 0;

  ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li a {
      display: block;
      text-decoration: none;
      color: #000;
      font-size: 20px;
      padding: 36px;
      text-align: center;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        // background-color: #FFC857;
        color: #176066;
      }

    }

  }

  .memberAction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

}

@media (max-width: 1200px) {
    .dropdown.active {
        display: block;
    }
}
