.wrapper {
    margin: 0 auto;
    padding-top: 72px;

    // border: 1px solid black;
    // max-width: 1200px;
    // outline｀: 1px solid black;
}

.wrap {
    margin: 0 auto;
    max-width: 1200px;
    min-height: calc(100vh - 192px)
}